
nav {
    height:50px;
    display: flex;
    justify-content: space-between;
    background-color: #D3D3D3;
    align-items: center;
}
.left {
    margin-left: 50px;
}
nav * {
    display: inline;
    padding-right:20px;
}
nav a {
    text-decoration: none;
    color:#000000;
}
.btn {
    cursor: pointer;
}

.center form {
    flex-direction: row;
}